In [10]:
# Prints out members of each cluster
import pandas as pd
print("Pandas Version Number: " + pd.__version__)

Pandas Version Number: 1.4.2

In [11]:
clusters_df = pd.read_csv('../../../data/clusters/clusters.csv')
clusters_df.loc[clusters_df['cluster_number'] == 0]

Empty DataFrame
Columns: [cluster_number, user_id, Action, Adventure, Cars, Comedy, Dementia, Demons, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mystery, Parody, Police, Psychological, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Thriller, Unknown, Vampire, Yaoi]
Index: []

[0 rows x 44 columns]

In [12]:
clusters_df.loc[clusters_df['cluster_number'] == 1]

,cluster_number,user_id,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi
0,1,0,7.700000,7.444444,NaN,7.750000,NaN,NaN,7.200000,4.000000,...,6.000000,7.000000,NaN,6.000000,6.666667,7.571429,NaN,NaN,6.50000,NaN
3,1,3,7.571429,7.840000,8.000000,7.492228,8.000000,7.692308,7.956522,7.075949,...,NaN,7.746269,9.000000,8.000000,7.090909,7.655914,8.000000,NaN,7.50000,NaN
4,1,4,7.531250,7.769231,NaN,7.685185,NaN,6.666667,7.724638,6.500000,...,7.000000,7.821429,NaN,7.000000,7.888889,7.676471,8.333333,NaN,8.50000,NaN
6,1,6,7.182692,6.739726,NaN,6.993243,6.833333,5.750000,7.680000,5.900000,...,7.909091,7.551724,6.857143,6.000000,7.000000,7.292308,8.187500,NaN,8.00000,8.0
8,1,8,7.600000,7.000000,NaN,7.571429,9.000000,6.000000,8.000000,NaN,...,NaN,7.833333,NaN,NaN,NaN,7.714286,7.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5679,1,6521,6.913043,7.086022,NaN,6.989950,8.250000,6.933333,7.279070,6.090909,...,NaN,7.174757,7.368421,7.241379,6.360000,6.986842,7.052632,NaN,6.75000,NaN
5683,1,6525,6.444444,6.500000,NaN,6.951220,7.333333,5.750000,7.130435,6.200000,...,8.000000,7.200000,4.000000,8.000000,6.842105,6.425000,7.857143,NaN,6.50000,NaN
5684,1,6527,6.772727,6.723881,7.428571,6.757576,7.666667,6.628571,7.229508,6.258065,...,4.000000,7.183099,7.100000,7.375000,6.786667,7.041096,7.631579,NaN,6.73913,NaN
5686,1,6529,5.880952,6.352941,NaN,5.944444,6.500000,7.000000,6.352941,6.000000,...,NaN,6.818182,NaN,7.000000,5.909091,6.210526,4.000000,NaN,8.00000,NaN
5687,1,6531,7.407407,7.272727,NaN,7.685714,8.857143,7.500000,7.588235,4.333333,...,5.250000,7.923077,8.333333,NaN,7.666667,6.866667,8.400000,NaN,5.00000,NaN

In [13]:
clusters_df.loc[clusters_df['cluster_number'] == 2]

,cluster_number,user_id,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi
1,2,1,7.886364,7.750000,NaN,7.860000,NaN,8.500000,8.447368,7.500000,...,NaN,7.666667,NaN,8.000000,8.428571,7.954545,9.250000,NaN,8.000000,NaN
2,2,2,8.551724,8.875000,NaN,8.588235,NaN,8.500000,8.400000,8.000000,...,NaN,8.500000,NaN,9.000000,9.090909,8.375000,8.750000,NaN,9.000000,NaN
5,2,5,9.000000,8.200000,NaN,7.935484,NaN,10.000000,8.923077,7.500000,...,NaN,8.571429,8.000000,NaN,7.000000,8.333333,NaN,NaN,NaN,NaN
7,2,7,7.740741,8.294118,NaN,7.875000,NaN,7.333333,8.379310,6.800000,...,NaN,8.772727,NaN,NaN,6.800000,7.814815,8.666667,NaN,8.000000,NaN
9,2,10,NaN,NaN,NaN,8.000000,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.666667,8.666667,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5678,2,6520,8.741935,8.500000,NaN,8.744681,NaN,9.000000,9.275862,8.458333,...,NaN,9.047619,NaN,NaN,8.500000,8.880000,9.000000,NaN,8.833333,NaN
5680,2,6522,8.538462,8.714286,NaN,8.111111,9.0,9.000000,8.250000,4.000000,...,NaN,8.000000,9.000000,NaN,8.250000,7.333333,NaN,NaN,NaN,NaN
5681,2,6523,8.800000,8.222222,NaN,8.681818,NaN,9.500000,8.833333,8.529412,...,NaN,8.888889,8.333333,9.000000,9.666667,8.666667,NaN,NaN,7.000000,NaN
5682,2,6524,9.545455,9.857143,10.000000,9.875000,NaN,NaN,9.583333,10.000000,...,NaN,9.500000,NaN,10.000000,9.600000,9.600000,9.600000,NaN,10.000000,NaN
5685,2,6528,7.559211,7.654762,8.142857,7.713636,NaN,7.523810,8.152672,7.095238,...,7.0,7.934211,10.000000,7.851064,8.166667,7.793103,8.714286,NaN,7.833333,NaN

In [14]:
clusters_df.loc[clusters_df['cluster_number'] == 3]

Empty DataFrame
Columns: [cluster_number, user_id, Action, Adventure, Cars, Comedy, Dementia, Demons, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mystery, Parody, Police, Psychological, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Thriller, Unknown, Vampire, Yaoi]
Index: []

[0 rows x 44 columns]

In [15]:
clusters_df.loc[clusters_df['cluster_number'] == 4]

Empty DataFrame
Columns: [cluster_number, user_id, Action, Adventure, Cars, Comedy, Dementia, Demons, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mystery, Parody, Police, Psychological, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Thriller, Unknown, Vampire, Yaoi]
Index: []

[0 rows x 44 columns]

In [16]:
clusters_df.loc[clusters_df['cluster_number'] == 5]

Empty DataFrame
Columns: [cluster_number, user_id, Action, Adventure, Cars, Comedy, Dementia, Demons, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mystery, Parody, Police, Psychological, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Thriller, Unknown, Vampire, Yaoi]
Index: []

[0 rows x 44 columns]

In [17]:
clusters_df.loc[clusters_df['cluster_number'] == 6]

Empty DataFrame
Columns: [cluster_number, user_id, Action, Adventure, Cars, Comedy, Dementia, Demons, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mystery, Parody, Police, Psychological, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Thriller, Unknown, Vampire, Yaoi]
Index: []

[0 rows x 44 columns]